@model ProjectFinal___MVC.Service.AgentWithMission

@{
    ViewData["Title"] = "GetAgents";
}

<h1>Get Agents list</h1>

<table class="table">
    <h2>Agents and their Missions</h2>
    <thead>
        <tr>
            <th>Id</th>
            <th>Agent Name</th>
            <th>Photo URL</th>
            <th>Agent Status</th>
            <th>Location</th>
            <th>Mission Link</th>
            <th>Time left to mission</th>
            <th>Sum of Kills</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agent in Model.agentWithMissions.Keys)
        {
            var missionInfo = Model.agentWithMissions[agent];
            <tr>
                <td>
                    @Html.DisplayFor(_ => agent.Id)
                </td>
                <td>
                    @Html.DisplayFor(_ => agent.nickname)
                </td>
                <td>
                    @Html.DisplayFor(_ => agent.photoUrl)
                </td>
                <td>
                    @Html.DisplayFor(_ => agent.Status)
                </td>
                <td>
                    (@Html.DisplayFor(_ => agent.x), @Html.DisplayFor(_ => agent.y))
                </td>                
                @if (Model.agentWithMissions[agent].mission != null)
                {
                    <td>
                        @Html.ActionLink("Get mission", "getMission", "Mission", missionInfo.mission, null)
                    </td>
                }
                else
                {
                    <td>
                        No active mission
                    </td>
                }
                @if (Model.agentWithMissions[agent] != null)
                {
                    <td>
                        @Html.DisplayFor(_ => missionInfo.mission.TimLeft)
                    </td>
                }
                else
                {
                    <td>
                        ---
                    </td>
                }
                <td>
                    @Html.DisplayFor(_ => missionInfo.sumKills)
                </td>
            </tr>
        }
    </tbody>
</table>
