@model IEnumerable<ProjectFinal___MVC.Models.Target>

@{
    ViewData["Title"] = "GetTargets";
}
<head>
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);
    </script>
</head>

<h1>GetTargets</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photoUrl)
            </th>
            <th>
                Location
            </th>                      
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.photoUrl)
            </td>
            <td>
                (@Html.DisplayFor(_ => item.x), @Html.DisplayFor(_ => item.y))
            </td>                      
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>            
        </tr>
}
    </tbody>
</table>
